<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All tests" parallel="classes" thread-count="2">
    <test  name="All tests" preserve-order="true">
        <classes>
            <class name="tests.PageObjectTests">
                <methods>
                    <include name="checkNumberOfTripsInNewYork"/>
                    <include name="getReferenceCode"/>
                    <include name="clickEarnMoney"/>
                    <include name="loginTOApp"/>
                </methods>
            </class>
            <class name="tests.SecondPageObjectTests">
                <methods>
                    <include name="second_checkNumberOfTripsInNewYork"/>
                    <include name="second_getReferenceCode"/>
                    <include name="second_clickEarnMoney"/>
                    <include name="second_loginTOApp"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>